* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    
    
  }
  html{
    overflow-x: hidden;
  }
 
  .Inicio{
    
    width: 82em;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    height: 9em;
    padding: 3px 4px 15px 20px;
}
.Barra{
    background-color: #c32c33;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    height: 1.5em;
    
}

.Menu{
    background-color: #9b9c9e;
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    height: 2.5em; 
    margin-bottom: 20px;
}
  header{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/162/50/445/car-engine-engine-mechanical-racing-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  body{
    background-image: url("https://i.pinimg.com/736x/a2/69/1b/a2691b0c2635ec4a554f15e2e23bc7d3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .Transparente{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
 
  }

nav ul{
    list-style: none;
    
}

ul{
    list-style: none;
    padding-left: 180px;
}
nav ul li{
    display: inline;
    margin-left: 15px;
    
}
 nav a{
    color: black;
text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #86191D;
}
main{
    max-width: 98%;
    margin: 0 0;
    padding-bottom: 60px;
  
}

.miniDiv{
    background-color: #c32c33;
    
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    color: #000;
    height: 1.5em;
    padding-bottom: 3px;
left: 0;
}
p{
    padding-top: 3px;
    font-size: large;
}
.Titulos{
    margin-left: 7em;
    margin-top: 20px;
    padding-top: 0.3em;
    width: 100%;
}
.caja-seccion{
    padding: 1em;
    
    margin: 1em;
}
.caja-Contactos{
    background-color: #c32c33;
    text-align: center;
    
    
   
    width: 100%;
    margin: 0;
    right: 40px;
    float: left;
    color: white;
}

.caja-Contactos img{
    text-align: center;
    max-width: 46%;
    position: relative;
    margin-top: 20px;
}
.caja-Para-Textos{
    border: 4px solid #c32c33;
    
    margin: 1em;
}
.caja-Reseñas{
    
    background-color: #f0f0f0;
    color: #000;
   padding:5% 5% 5% 5%;
   height: 100%;

}
.caja-Exitos{
    background-color: #f0f0f0;
    color: #000;
    padding:5% 5% 5% 5%;
    height: 100%;
}
.logo{


    width: 40px;
    width:100px;
    position: absolute;
    left: 110px;
  
  }
  .logo2{

    width: 60px;
    width:100px;
    
    position: absolute;
    left: -110px;
  
  }
h1{
    padding-bottom: 1em;
    font-size: 22px;
}
 #scroll{
            width: 90%;
            height: 120px;
            overflow-y: auto;
        }
.Texto{
    padding-left: 8em;
    
}
h3{
    font-size: 1.5em;
}
footer{
    bottom: 0;
}
