* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-image: url("https://i.pinimg.com/736x/a2/69/1b/a2691b0c2635ec4a554f15e2e23bc7d3.jpg");
}

.tituloBlog {
  text-align: center;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 15px;
}

.linkDiseño {
  text-decoration: none;
  color: inherit;
}

.linkDiseño:hover {
  text-decoration: none;
  color: inherit;
}

.linkDiseño .tituloBlog {
  text-decoration: none;
  color: inherit;
}


.columnaIzquierda {
  float: left;
  width: 40%;
  padding-left: 25px;
}

.columnaCentro {
  float: left;
  width: 40%;
  padding-left: 25px;
}

.columnaDerecha {
  float: left;
  width: 20%;
  padding-left: 25px;
}

.miniatura {
  height: 450px;
  width: 100%;
}








.columnaPublicacion {
  float: left;
  width: 80%;
  padding-left: 25px;
}

.imagenInicioBlog {
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 600px;
  width: 100%;
}

.tituloArticulo {
  text-align: center;
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 40px;
}

.contenidoArticulo {
  font-size: 20px;
  padding-right: 15%;

}






.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.img {
  width: 100%;
  padding: 20px;

}


.publicacion {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 3px rgb(211, 211, 211);

}


.fila:after {
  content: "";
  display: table;
  clear: both;
}


.contactos-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.direccion-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.direccion {
  margin-left: 5%;
  padding: 1rem;

  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}


.contacto {
  margin-left: 5%;

  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.tituloContacto {
  margin-bottom: 30px;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid #9b9c9e;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}



.formulario {
  margin-top: 2%;
  color: white;
  display: inline-block;
  box-sizing: border-box;
 width: 50%;
 font-size: 1.5em;
}

.textoDireccion {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.contenedorFormulario {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  text-align: left;
}

.direccion-container {
  display: grid;
justify-content: center;

grid-template-columns: repeat(2,1fr);
gap: 1rem;
}
